@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #fff;
	min-height: 100vh;
	width: 100%;
	margin: 0;
	overflow-x: hidden;
}

.container{
	margin: 0;
	padding: 0;
	min-height: 100vh;
	width: 100%;
}
.subnav{
	
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: 'PT Sans', sans-serif;
	min-height: 0vh;

}

.left-hand{
	margin: 30px;
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.right-hand{
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.right-hand p{
	padding: 30px;
	font-family: sans-serif;
	cursor: pointer;
}


.create{
	border: 2px solid #31AA52;
	border-radius: 5px;
	background: #31AA52;
	color: #fff;
	height: 10%;
	top: -4px;
	position: relative;
	padding: 7px 14px;
	cursor: pointer;
	
}

.wrapper{
	min-height: 100vh;
}
.wrapper {
	background-image: linear-gradient(rgba(49, 170, 82, 0.65), rgba(49, 170, 82, 0.65)),url(img1.jpg);
	background-blend-mode: overlay;
	width: 100%;
	height: 500px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	mix-blend-mode: normal; 
	position: relative;
	object-fit: cover;
	top: 0;
	z-index: -1;
}

.wrapper h1{
	position: absolute;
	top: 100px;
	left: 400px;
	color: #fff;
	font-size: 100px;
	font-family: 'PT Sans', sans-serif;
}

.wrapper i{
	font-size: 70px;
	position: relative;
	left: 550px;
	top: 250px;
	cursor: pointer;
	z-index: 2;

}

.fa-facebook-square.color{
	color: #3b5998;
}

.fa-google-plus-square.color{
	color:  #db4a39;
}
.fa-twitter-square.color{
	color:#00acee;
}
.fa-github-square.color{
	color: #fff;
}

.wrapper h2{
	position: absolute;
	top: 330px;
	left: 600px;
	color: #fff;
	font-family: 'PT Sans', sans-serif;
}

.wrapper p{
	position: absolute;
	top: 380px;
	left: 550px;
	color: #fff;
	font-family: 'PT Sans', sans-serif;
	text-decoration: underline;
	font-size: 18px;
}

section{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height:90vh;
	width: 100%;
	margin: 0px;
	background: #ddd;
}

.myform{
	width: 300px;
	height: 300px;
	padding: 0px;
}

.myform label{
	font-size: 0.9rem;
	line-height: 2rem;
	font-weight: 500;
}

.myform input[type="text"], input[type="password"] {
	margin-bottom: 1.1rem;
	margin-left: 1.3rem;
	width: 80%;
	border-radius: 5px;
	background: #fff;
	border: 1px solid blue;
	color: #ccc;
	padding: .7rem 1.2rem;
	line-height: 1rem  
}

.myform button{
	border: none;
	outline: none;
	border-radius: 5px;
	background-color: red;
	color:#fff;
	margin-left: 1.3rem;
	margin-bottom: 1.1rem;
	width:240px;
	height:32px;
	font-size: 16px;
	font-weight: bold;
	font-family: inherit;
	transition: 0.2s ease;
	cursor: pointer; 
}

.link a{
	position: absolute;
	top: 1000px;
	left: 220px;
	font-family: inherit;
	text-decoration: none;
	
}

.or{
	position: absolute;
	top: 1050px;
	left: 270px;
}

button.social{
	border: none;
	text-align: center;
	border-radius: 5px;
	width: 210px;
	height: 30px;
	position: relative;
	margin-bottom: 10px;
	margin-left: 40px;
	font-size: 18px;
	font-family: inherit;


}

.facebook{
	
	background-color: #1A91DA;
}

.facebook a{
	color: #fff;
	text-decoration: none;
}

.facebook a:hover{
	color: #FF2A1A;
}
.Google{

	background-color: #0096DE;
}
.Google a{

	color: #fff;
	text-decoration: none;
}
.Google a:hover{
	color: #FF2A1A;
}

.Terms{
	position: absolute;
	margin: 10px;
	left: 200px;
	top: 1210px;
	
}

.Terms a{
	text-decoration: none;
	
}


.note h3{
	position: absolute;
	left: 740px;
	top: 870px;
	color: #000;
	font-size: 22px;
	font-family: 'PT Sans', sans-serif;
}

.flow{
	position: relative;
	font-size: 18px;
	color: #000;
	font-weight: 700;
	margin-left: 250px;
	margin-top: -100px;
	width: 40%;
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	font-family: 24px;
}


.horizonLine {
	height: 150px;
	margin: 10px;
	border-left: 2px solid #ccc;
	transform: rotate(90deg);
	transform-origin: 0 0;
	position: absolute;
	top: 1270px;
	left: 370px;
}
.signup{
	position: absolute;
	top: 1290px;
	left: 210px;

}

.signup a{
	text-decoration: none;
	
}
main{
	height: 80vh;
}

main p{
	text-align: center;
	margin-top: 100px;
	margin-left: 120px;
	width: 80%;
	padding: 30px;
	font-family: 'PT Sans', sans-serif;
	font-size: 32px;
}

.cost{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	min-height: 100vh;
}
.operation h3{
	font-size: 38px;
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	padding: 10px;
	
}

.operation p{
	width: 30%;
	box-sizing: border-box;
	padding: 10px;
	text-align: center;
	position: absolute;
	left: 150px;
	font-size: 22px;
	font-family: 'PT Sans', sans-serif;
}

.cost img{
	width: 400px;
	height: 300px;
	padding-right: 80px;
	
}

.thewrapper{
	min-height: 100vh;
}
.plan-wrapper{
	display: flex;
	
	
}

.plan{
	display: flex;
	
	
}

.plan img{
	width: 50px;
	height: 50px;
	position: relative;
	left: 170px;
	top: -70px;
}

.plan h2{
	margin-left: 65px;
	position: absolute;
	top: 2780px;
	padding: 10px 60px;
	text-align: left;
	
}

.plan p{
	margin: 20px;
	width: 50%;
	text-align: center;
	position: relative;
	margin-top: 80px;
	margin-left: 40px;
	font-size: 22px;
	font-family: 'PT Sans', sans-serif;
	text-overflow: clip;
}

.adjust{
	padding-right: 15px;
}

.tasks {
	display: block;
	text-align: center;
	min-height: 100vh;

}

.tasks p{
	
	font-size: 22px;
	font-family: 'PT Sans', sans-serif;
}

.tasks img{
	width: 70px;
}

.main-footer{
	min-height: 50vh;
	margin: 0;
}

.main-footer p{
	border: none;
	border-radius: 5px;
	width: 200px;
	height: 40px;
	background: #31AA52;
	color: #fff;
	margin-left: 580px;
	margin-top: 100px;
	text-align: center;
	padding: 8px 14px; 
	text-transform: uppercase;
	font-size: 22px;
	font-family: 'PT Sans', sans-serif;
	cursor: pointer;
}

.main-footer div{
	text-align: center;
	margin-top: 200px;
}

@media screen and (max-width: 400px) {

	body{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	.container{
		margin: 0;
		padding: 0;
	}

	.wrapper{
		display: block;
		 
	}
	.wrapper h1{
		left: 60px;
		font-size: 40px;
	}

	.wrapper i{
		font-size: 45px;
		top:170px;
		left: 90px;
	}

	.wrapper h2{
		top: 250px;
		left: 110px;
	}

	.wrapper p{
		top: 300px;
		left: 60px;
	}

	section{
		display: block;
		padding: 30px;
		min-height: 100vh;

	}
	.myform label{
		line-height: 1.2rem;

	}

	.myform input[type="text"], input[type="password"]{
		padding: 10px;
	}
	
	.link a{
		top: 950px;
		left: 90px;
	}

	.or{
		top: 1000px;
		left: 150px;
	}

	.Terms {
		top: 1150px;
		left: 50px;
	}
	.horizonLine{
		top: 1210px;
		left: 230px;
	}
	.signup{
		top: 1240px;
		left: 60px;
	}

	.note h3{
		top: 1270px;
		left: 50px;
	}
	.flow{
		width: 70%;
		left: -220px;
		font-weight: normal;
		top: 260px;
	}

	main{
		min-height: 80vh;
	}
	main p{
		margin-left: -10px;
		margin-top: 20px;
		width: 100%;
		font-size: 25px;
	}

	.cost{
		display: block;
	}
	.operation h3{
		width: 100%;
		left: 20px;
		font-size: 24px;
		font-family: 'PT Sans', sans-serif;
	}

	.operation p{
		left: 0px;
		width: 100%;
	}

	.cost img{
		position: relative;
		top: 120px;
		padding-right:
	}

	.plan-wrapper{
		display: block;
	}

	.plan{
		display: block;
	}

	.plan img{
		top: -10px;
		left: 110px;
	}

	.plan h2{
		position: relative;
		top: -20px;
		left: -50px;
		width: 100%;
		font-size: 20px;
		font-family: 'PT Sans', sans-serif;
	}

	.plan p{
		margin-top: -5px;
		margin-left: 0px;
		width: 100%;
		font-size: 18px;
		font-family: 'PT Sans', sans-serif;
	}
	
	.tasks p{
		top: 450px;
		font-size: 18px;
		font-family: 'PT Sans', sans-serif;
		left: 0;
	}
	.tasks img{
		width: 10px;
	}
	.main-footer{
		display: block;

	}
	.main-footer p{
		margin-left: 75px;
	}
}